html, body, h1, h2, h3, h4, ul, ol, li, p, a, main, header{
	padding: 0;
	border: 0;
	margin: 0;
}
h1{
	color: #ffe6b3;
	margin: 0 0 30px 0;
	font-size: 50px;
	padding-left: 150px;
}

h2{
	color: #0d0d0d;
	padding-top: 10px;
	margin: 0 0 15px 0;
	text-align: center;
}

h3{
	text-align: center;
	padding-top: 5px;
	margin-top: 0px;
}

h4{
	color: #ffe6b3;
	text-align: right;
	float: right;
}

p{
	padding: 5px 5px;
}

body{
	padding: 0;
	background: #339933 url(green_cup.png) top left repeat;
}

header{
	border: 5px solid black;
}

main{
	text-align: center;
	background-color: #ffe6b3;
	min-height: 500px;
	font-size: 97%;
	line-height: 1.5em;
}

footer{
	padding-top: 30px;
}

img{
	padding: 5px 15px;
}

.nav li{
	display: inline;
	padding-right: 20px;
	float: right;
	font-size: 30px;
}

.nav a{
	color: #ffe6b3;
}

.header{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 70px;
	background-color: #595959;
}

.header img{
	float: left;
	width: 100px;
	height: 150px;
	padding-right: 20px;
}

.content{
	padding-left: 20%;
	padding-right: 20%;
}